#footer_teasers_wrapper .footer_teaser p {
  font-size: 14pt;  
}
#footer_teasers_wrapper .footer_teaser h3 {
  font-size: 20pt;
}
#tweets {
  margin-top: 10px;
}
#tweets li{
  list-style-type: none;
}
